*{
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: "Nata Sans", sans-serif;
}

*,
*::before,
*::after{
    box-sizing:border-box;
}

a{
    text-decoration: none;
    color: black;
}

.nav--sites a:hover{
    background-color: lightgrey;
    display:flex;
    height: 100%;
}

button{
    padding: 0.5em 1em;
    border-radius: 50px;
    border-width: 0;
}

button:hover{
    background-color: grey;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
}

.nav--sites{
    right:0px;
    display: flex;
    justify-content:space-between;
    width:50%;
    gap: 100px;
    align-items: center;
    height: 100%;
}

.nav--actionables{
    display:flex;
    justify-content: flex-end;
    gap:50px;
    align-items: center;
}


.hero{
    background-color: beige;
    height: 80vh;
    text-align: center;
    padding-top:30vh;
}

.hero--text{
    font-size: 6rem;
}

.section{
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 100px 0px ;
}

.section.color::after{
    content:"";
    background-color: beige;
    position:absolute;
    z-index:-1;
    width:100%;
    height:100%;
    inset:0;
}

.section h2{
    font-size: 2rem;
}

.holder{
    width: 50%;
    height: 200px;
    background-color: grey;
}

.holder:hover{
    width:60%;
}

.footer ul{
    display:flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}