* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Nata Sans", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.footer {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding: 30px;
	justify-content: center;
	align-items: flex-start;
}

.sitemap {
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.footer .contact {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.footer .contact input {
	border-radius: 10px;
}
.footer .contact input:nth-child(4) {
	height: 100px;
}

h1 {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 200;
	font-size: 3rem;
	color: rgb(38, 46, 73);
}
h1 span {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 200;
	font-size: 3rem;
	color: rgb(38, 46, 73);
}

h1.fixed {
	position: absolute;
	top: 125px;
}

h2 {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 300;
	font-size: 2rem;
	color: rgb(38, 46, 73);
}

.section.color h2 {
	color: white;
}

body {
	background: rgb(255, 251, 246);
}
img {
	object-fit: contain;
}

nav {
	background: white;
	position: fixed;
	display: flex;
	height: 3rem;
	justify-content: center;
	align-items: center;
	gap: 7rem;
	align-self: stretch;
	width: 100vw;
	z-index: 2;

	animation: hidden forwards;
	animation-timeline: scroll();
}

.burger {
	display: none;
}

a {
	text-decoration: none;
}

input {
	border-radius: 100px;
	padding: 5px 10px;
	border-width: 1pxs;
}

button {
	padding: 5px 10px;
	border-radius: 40px;
	border-width: 0;
}

button:hover {
	cursor: pointer;
	background: darkgrey;
}

/* hero styling */
.hero {
	height: 100vh;
	width: 100%;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
}

.hero__background__img {
	position: absolute;
	bottom: 100px;
	width: 50%;
	z-index: -2;
}
.hero__background {
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0px;
	background: #c7dbfb;
	z-index: -2;
}

.hero__main {
	position: absolute;
	bottom: 50px;
	width: 25%;
	z-index: -1;
}

/* card styles */
/* styling within the card */
.card {
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	padding: 14px;
	flex-direction: column;
	gap: 10px;
	background-image: url("img/paper.jpg");
	background-size: contain;
	border-radius: 0;
}

.card.landscape {
	width: 18rem;
	height: 15rem;
}

.card.portrait {
	width: 15rem;
	height: 18rem;
}

.card__img {
	background-color: white;
	width: 100%;
	height: 80%;
}

.card__img img {
	object-fit: contain;
	display: block;
	width: 100%;
	height: 100%;
}

.card__text {
	font-family: "IBM Plex Sans", sans-serif;
	background-color: #fff279;
	opacity: 0.8;
	display: flex;
	display: flex;
	width: auto;
	align-items: center;
	align-self: center;
	padding: 0 1em;
}

/* section styles */

.section {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
	padding: 50px 0px;
	z-index: 1;
}
.paralax__margin {
	margin-top: -50px;
}

.round {
	border-radius: 100px 100px 0px 0px;
}
.section.color {
	background-color: #274577;
}
.section.white {
	background-color: rgb(255, 251, 246);
}

.gallery {
	position: relative;
	width: 45%;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 100px;
}

.gallery .col1 {
	display: flex;
	flex-direction: column;
	margin-top: 250px;
	gap: 200px;
}
.gallery .col2 {
	display: flex;
	flex-direction: column;
	gap: 200px;
}

.gallery .col1 .card:nth-child(1) {
	transform: rotate(3deg);
}

.gallery .col1 .card:nth-child(2) {
	transform: rotate(-3deg);
}
.gallery .col2 .card:nth-child(1) {
	transform: rotate(-3deg);
}

.gallery .col2 .card:nth-child(2) {
	transform: rotate(3deg);
}

/* filter styling */

.filter__checkbox {
	display: none;
}

.filter__label {
	padding: 5px 10px;
	background: #c7dbfb;
	border-radius: 40px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* select the next label to the checkbox that is checked */
.filter__checkbox:checked + .filter__label {
	background: #95aacd;
}

.filter {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

/* animation */
@keyframes hidden {
	0% {
		top: -100px;
	}

	5% {
		top: 0px;
	}
}

.hero {
	animation: heroScroll forwards;
	animation-timeline: scroll();
	animation-range: 0 80vh;
}

@keyframes heroScroll {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100px);
	}
}

.section {
	animation: sectionScroll fowards;
	animation-timeline: scroll();
	animation-range: 0 40vh;
}

@keyframes sectionScroll {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(500px);
	}
}

.blinking {
	animation: blinking 1s steps(1) infinite;
}

@keyframes blinking {
	0%,
	49% {
		opacity: 1;
	}
	50%,
	100% {
		opacity: 0;
	}
}

/* card grid */
.filler {
	width: 18rem;
	height: 15rem;
	display: flex;
	flex-direction: column;
}

.filler div {
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.filler div:nth-child(1) {
	align-self: flex-start;
	transform: rotate(5deg);
}

.filler div:nth-child(2) {
	transform: rotate(-5deg);
}

.filler img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	display: block;
}

.card__grid {
	display: flex;
	flex-direction: row;
	gap: 70px;
	position: relative;
}

.card__grid .col1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 50px;
}

.card__grid .col2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 50px;
}

.card__grid::before {
	content: "";
	background-image: url("img/tape.png");
	background-repeat: no-repeat;
	width: 150px;
	height: 150px;
	background-size: contain;
	position: absolute;
	top: -50px;
	left: 0;
	z-index: 1;
}

/* .card__grid {
	width: 600px;
	height: 800px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 30px 30px;
}

.card__grid div:nth-child(1) {
	background: black;
	grid-row-start: 1;
	grid-row-end: 3;
}

.card__grid div:nth-child(2) {
	background: black;
	grid-row-start: 1;
	grid-row-end: 2;
}

.card__grid div:nth-child(3) {
	background: black;
	grid-row-start: 3;
	grid-row-end: 4;
}

.card__grid div:nth-child(4) {
	background: black;
	grid-row-start: 2;
	grid-row-end: 4;
}

.card__grid div:nth-child(5) {
	background: black;
	grid-row-start: 4;
	grid-row-end: 5;
}
.card__grid div:nth-child(6) {
	background: black;
	grid-row-start: 4;
	grid-row-end: 5;
}

.card__grid img {
	object-fit: contain;
	width: 100%;
	height: 100%;
} */
/* modal styling */
.modal__img {
	width: 100%;
	object-fit: cover;
	padding: 10px;
}

.modal__text {
	text-align: justify;
	padding: 20px;
}

@media (max-width: 767px) {
	nav {
		display: none;
	}

	.offcanvas {
		width: 100%;
	}

	.offcanvas-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	.burger {
		display: block;
		position: fixed;
		right: 0;
		z-index: 2;
		width: 3rem;
		height: 3rem;
		margin: 10px 10px;
		background: #274577;
		border-width: 0;
		animation: none;
	}

	.burger img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		display: block;
	}
	.gallery .col1 {
		display: none;
	}

	.gallery .col2 {
		gap: 100px;
	}

	.hero {
		height: 80vh;
		width: 100%;
		text-align: center;
		position: relative;
		display: flex;
		justify-content: center;
	}

	.hero__background__img {
		position: absolute;
		bottom: 100px;
		width: 80%;
		z-index: -2;
	}
	.hero__background {
		position: absolute;
		width: 100%;
		height: 100px;
		bottom: 0px;
		background: #c7dbfb;
		z-index: -2;
	}

	.hero__main {
		position: absolute;
		bottom: 50px;
		width: 50%;
		z-index: -1;
	}

	.round {
		border-radius: 50px 50px 0px 0px;
	}

	.card__grid .col2 {
		display: none;
	}

	.card__grid .col1 {
		align-items: center;
	}

	.card__grid::before {
		background-image: url("img/tape2.png");
		background-size: contain;
		background-repeat: no-repeat;
		height: 50px;
		width: 100px;
		top: -20px;
		left: 35%;
	}

	.footer {
		display: flex;
		flex-direction: column-reverse;
		gap: 30px;
		padding: 30px;
		justify-content: center;
		align-items: center;
	}

	.sitemap {
		text-align: left;
		display: flex;
		flex-direction: row;
		gap: 10px;
	}
	.footer .contact {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}
}
